* {
    box-sizing: border-box;
}

.form {
    margin: 32px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/* .form * {
    display: inline;
    , textarea, select, button
} */


input {
    margin: 8px;
}

textarea, select, button {
    margin-left: 8px;
}

/* .form * {
    margin: 8px;
    display: block;
} */

.languages * {
    display: inline;
}
/* text -area штртна довжина
    у лейблів не повинно бути марджинів
 */

textarea с именем story, у которой 5 строк по 30 символов и плейсхолдер "A long time ago..."

Радиокнопки с именем language и опциями
значение - html и текстом HTML
значение - сss и текстом CSS Выбран
значение - javascript и текстом JavaScript
Радиокнопки оберните в элемент с классом languages


значение - jquery и текстом jQuery Выбран