* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    
}

.spinner {
    margin: auto;
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: blinking 2s infinite linear;
}

.circle {
    width: 50px;
    height: 50px;
    border: 4px solid lightgray;
    border-top: 4px solid black;
    margin-bottom: 8px;
    border-radius: 50%;
    animation: spinn 2s infinite linear;
}

.spinner-text {
    /* animation: blinking 2s infinite linear; */
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spinn {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
  
}